@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

strong {
    font-weight: 700;
}

a {
    color: #1164a9;
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    height: 40px;
    line-height: 38px;
    min-width: 88px;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    box-sizing: border-box;
}

.btn:hover:not(.disabled):not([disabled]) {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.btn-primary {
    border-color: #e40f0a;
    background: #e40f0a;
    color: #fff;
}

.btn-primary:hover {
    border-color: #6a0705;
    background: #e40f0a;
}

.btn-default {
    border-color: #e5e5e5;
    background: #e5e5e5;
    color: #222;
}

.btn-default:hover {
    border-color: #b1b1b1;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.btn-warning {
    border-color: #feecaf;
    background: #feecaf;
    color: #222;
}

.btn-warning:hover {
    border-color: #f7c657;
    background: #feecaf;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.btn-big {
    height: 56px;
    font-size: 16px;
}

.red-asterisk {
    color: #ed4642;
}

.sidebar-header,
.navbar {
    height: 64px;
    border-bottom: 1px solid #e5e5e5;
}

.navbar {
    background: #fff;
    display: block;
    padding: 0.75rem 2rem;
}

.navbar-brand img {
    height: 18px;
}

.navbar .icons .dropdown {
    display: inline-block;
}

.navbar .icons .dropdown>a.show .mdi {
    color: #222;
}

.navbar .icons .dropdown-menu {
    min-width: 172px;
    margin-top: 16px;
    border-radius: 0;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.navbar .icons .dropdown-menu a {
    padding: 8px 24px;
}

.navbar .icons .dropdown-notifications {
    min-width: 320px;
    padding: 30px 15px 15px;
}

.navbar .icons a {
    color: #555;
    text-decoration: none;
}

.navbar .icons a:hover {
    color: #222;
}

.navbar .mdi {
    font-size: 24px;
    color: #b1b1b1;
    position: relative;
    top: 4px;
    margin-left: 1.2vw;
}

.navbar a:hover .mdi {
    color: #555;
}

.navbar .form-control {
    border-radius: 4px;
    border-color: #777;
    background-color: #f8f8f8;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .08);
}

.navbar .form-control:hover {
    border-color: #555;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
}

.navbar .form-control:focus {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
}

.navbar .menu-button {
    position: relative;
    top: -10px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #555;
}

.navbar .menu-button .mdi {
    margin: 0;
}

.sidebar {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 230px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    box-shadow: 8px 0 10px -2px rgb(0 0 0 / 5%);
}

.sidebar-header {
    line-height: 64px;
}

.sidebar-header a {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #222;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar-header a span {
    border-left: 1px solid #e5e5e5;
    padding: 7px 0;
    padding-left: 10px;
    margin-left: 7px;
}

.sidebar-header .menu-button {
    position: relative;
    top: -5px;
    left: 20px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #555;
    line-height: 18px;
}

.sidebar-header .menu-button .mdi {
    color: #999;
    margin: 0;
    font-size: 24px;
}


.sidebar .main-menu {
    position: relative;
    padding-top: 8px;
    height: calc(100vh - 240px);
    overflow-y: scroll;
}

.sidebar .nav a {
    position: relative;
    color: #555;
    line-height: 24px;
    padding: 6px 24px;
}


.sidebar .nav a:hover {
    color: #222;
}

.sidebar .nav a .mdi {
    font-size: 24px;
    color: #b1b1b1;
    position: relative;
    top: 4px;
    margin-right: 7px;
}

.sidebar .nav a:hover .mdi {
    color: #555;
}

.sidebar .nav a.active {
    color: #222;
    font-weight: 700;
}

.sidebar .nav a.active .mdi {
    color: #ed4642;
}

.sidebar .nav .nav-toggle>a:after {
    position: absolute;
    right: 18px;
    top: 6px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /%3E%3C/svg%3E");
    display: block;
    width: 18px;
    opacity: 0.4;
    transform: rotate(180deg);
}

.sidebar .nav .nav-toggle>a.collapsed:after {
    top: 12px;
    transform: rotate(0deg);
}

.sidebar .nav .nav-toggle>a:hover:after {
    opacity: 0.8;
}

.sidebar .nav .submenu {
    list-style: none;
}

.sidebar .nav .submenu a {
    border-left: 3px solid transparent;
    padding: 0 24px;
    margin: 7px 3px;
}

.sidebar .nav .submenu a:hover {
    border-left: 3px solid #e5e5e5;
}

.sidebar .nav .submenu a.active {
    border-left: 3px solid #ed4642;
}

.sidebar .sidebar-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 145px;
    border-top: 1px solid #e5e5e5;
}




.content-side {
    padding: 0 0 0 230px;
    position: relative;
    z-index: 99;
}

.main-content {
    min-height: calc(100vh - 375px);
    padding: 2rem;
}

.main-content h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 30px;
}




footer {
    border-top: 1px solid #e5e5e5;
}

.footer-content {
    padding: 3rem 2rem;
}

.footer-content img {
    max-height: 16px;
    margin-bottom: 15px;
}

.footer-content p {
    margin-bottom: 0;
}

.footer-content .socials {
    margin-top: 15px;
}

.footer-content .socials a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.footer-content .socials a svg {
    fill: #888;
    width: 20px;
    height: 20px;
}

.footer-content .socials a:hover {
    background: #888;
    border-color: #888;
}

.footer-content .socials a:hover svg {
    fill: #fff;
}

.footer-content .nav a {
    display: block;
    padding-left: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #555;
}

.footer-content .nav a:hover {
    color: #222;
}

.copyright {
    background-color: #f8f8f8;
    font-size: 12px;
    padding: 1.5rem 3rem;
}


.sidebar-toggler {
    position: absolute;
    right: -15px;
    top: 100px;
}

.sidebar-toggler button {
    position: absolute;
    top: -16px;
    right: 0;
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: #999;
    z-index: 101;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    transform: rotate(180deg);
}

.sidebar-mini .sidebar-toggler button {
    transform: rotate(0);
}

.sidebar-mini .navbar-brand span {
    display: none;
}

.sidebar-mini .sidebar {
    width: 75px;
}

.sidebar-mini .sidebar a {
    font-size: 0;
    height: 45px;
}

.sidebar-mini .sidebar .nav .nav-toggle>a:after {
    transform: rotate(90deg);
    top: 8px;
}

.sidebar-mini .sidebar .nav .nav-toggle>a.collapsed:after {
    right: 4px;
    top: 7px;
    transform: rotate(270deg);
}

.sidebar-mini .sidebar .nav>li {
    position: relative;
}

.sidebar-mini .sidebar .nav>li:hover .submenu {
    display: block;
}

.sidebar-mini .sidebar .nav .submenu {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: absolute;
    right: -195px;
    top: 0;
    width: 200px;
    height: auto;
    padding-left: 5px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.sidebar-mini .sidebar .main-menu {
    overflow: inherit;
}

.sidebar-mini .sidebar .nav .submenu a {
    font-size: 14px;
    height: auto;
}

.sidebar-mini .content-side {
    padding-left: 75px;
}


.orders-table td {
    white-space: nowrap;
}

.orders-table [type=button] {
    appearance: initial;
    -webkit-appearance: initial;
    -moz-appearance: inherit;
}

.orders-table .new-order-button {
    width: 100%;
    margin-bottom: 15px;
}


.modal .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    margin: 0;
}


.nav.nav-tabs {
    margin: 20px 0;
}

.nav.nav-tabs li {
    margin-right: 10px;
}

.nav.nav-tabs a {
    color: #555;
    border: none;
    font-size: 14px;
}

.nav.nav-tabs a span {
    font-weight: 700;
}

.nav.nav-tabs a:hover,
.nav.nav-tabs a.active {
    color: #222;
    border-bottom: 3px solid #222;
}


.table {
    font-size: 14px;
}

.table th {
    border-bottom: 2px solid #ddd !important;
}

.table th,
.table td {
    padding: 10px;
    vertical-align: middle;
}

.table th:last-child,
.table td:last-child {
    text-align: right;
}

.table .status {
    display: block;
    width: 100%;
    max-width: 190px;
    background: #feecaf;
    color: #222;
    border-radius: 5px;
    padding: 4px 12px;
    font-size: 14px;
}

.table .status-active {
    color: #fff;
    background: #0c8512;
}

.table .status-draft {
    background: #d5eff6;
    color: #222;
}



.badge {
    padding: 2px 8px;
    line-height: 12px;
    font-size: 12px;
    border-radius: 12px;
    font-weight: 700;
    margin-right: 5px;
}

.badge.bg-light {
    color: #222 !important;
    background: #e5e5e5 !important;
}

.badge.bg-primary {
    background: #017da9 !important;
}



.order-modal h5 {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    line-height: 35px;
}

.order-modal .btn {
    width: 100%;
    margin-top: 15px;
}

.order-modal .table .title {
    margin: 10px 0;
}

.order-modal .table .print {
    color: #777;
}

.order-modal .total {
    margin: 20px 0;
}

.order-modal .total .row {
    padding: 0 15px;
}

.order-modal .total .row>div {
    border-bottom: 1px solid #e5e5e5;
    line-height: 45px;
}

.order-modal .price-desc {
    padding: 0 15px;
    font-size: 14px;
}

.order-modal .shipment-report {
    background-color: #eaffb7;
}



.stores-list .store-item {
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 15px;
}

.stores-list .store-item:hover {
    box-shadow: 0 1px 5px 0 rgb(90 90 90 / 50%);
}

.stores-list .store-item img {
    max-height: 56px;
    float: left;
    margin-right: 15px;
}

.stores-list .store-item h6 {
    line-height: 56px;
    font-weight: 700;
    margin: 0;
}

.stores-list .store-item a {
    margin: 8px 0 8px 8px;
}


.store-inner .anchors {
    background-color: #f8f8f8;
    padding: 10px;
    margin: 0 0 30px;
}

.store-inner .anchors a {
    display: block;
    text-decoration: none;
    margin: 0 0 10px;
    padding: 0 10px;
    font-size: 14px;
    color: #7c7c7c;
    line-height: 20px;
    font-weight: 700;
}

.store-inner .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.store-inner .video-container iframe,
.store-inner .video-container object,
.store-inner .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.store-inner h6 {
    font-size: 18px;
    line-height: 26px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 700;
}


.create-store h4 {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin: 60px 0 30px;
}

.create-store .col-12 {
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    text-align: center;
}

.create-store strong {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.create-store img {
    max-width: 50px;
}

.create-store a {
    width: 100%;
    margin: 30px 0 10px;
}


.connect-store {
    font-size: 14px;
}

.connect-store .store-item {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 15px;
}

.connect-store img {
    float: left;
    max-height: 52px;
    margin-right: 20px;
}

.connect-store strong {
    display: block;
    font-size: 15px;
    padding-top: 5px;
}

.connect-store p {
    clear: both;
    margin: 30px 0;
    min-height: 50px;
}

.connect-store .btn {
    width: 100%;
}


.breadcrumbs {
    margin-bottom: 20px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #1164a9;
}

.breadcrumbs .current {
    font-weight: 700;
}



.status-bar {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 -15px 15px;
}

.status-bar.status-draft {
    background-color: #d5eff6;
}

.status-bar.status-cancelled {
    background-color: #feecaf;
}

.status-bar.status-fullfilled {
    color: #fff;
    background-color: #0c8512;
}


.order-history h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 30px 10px;
}

.timeline {
    margin-left: 20px;
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
    padding-bottom: 20px;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background: #fff;
    border: 3px solid hsl(0, 0%, 90%);
    left: -40px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    content: "";
}



.pricing-breakdown ul {
    width: 100%;
    padding: 15px;
    font-size: 14px;
}

.pricing-breakdown li {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

.pricing-breakdown li:last-child {
    border: none;
    padding-bottom: 0;
}



.product-inner .slider-nav .slick-slide {
    border: none;
    border-bottom: 3px solid transparent;
    margin: 0 0 15px;
    cursor: pointer;
}

.product-inner .slider-nav .slick-slide:hover {
    border-color: #e5e5e5;
}

.product-inner .slider-nav .slick-slide.slick-current {
    border-color: #e40f0a;
}

.product-inner .slider-img {
    margin: 0 0 30px;
}

.product-inner .slider-img .slick-next {
    position: absolute;
    top: calc(50% - 65px);
    right: 0;
    background: #fff !important;
    width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 45px !important;
    color: #888 !important;
    padding: 0;
    outline: none;
    border: none;
    z-index: 2;
}

.product-inner .slider-img .slick-prev {
    position: absolute;
    top: calc(50% - 65px);
    left: 0;
    background: #fff !important;
    width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 45px !important;
    color: #888 !important;
    padding: 0;
    outline: none;
    border: none;
    z-index: 2;
}

.product-inner .slider-img .slick-next:hover,
.product-inner .slider-img .slick-prev:hover {
    color: #222 !important;
}

.product-inner .product-info h4 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}

.product-inner .product-info .rating span {
    color: #f2c994;
    font-size: 18px;
}

.product-inner .choose-option {
    margin: 0 0 24px;
}

.product-inner .choose-option h6 {
    font-weight: 700;
}

.product-inner .choose-option input {
    display: none;
}

.product-inner .choose-option label {
    text-align: center;
    height: 40px;
    line-height: 38px;
    min-width: 40px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    color: #222;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.product-inner .choose-option label:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    background-color: rgba(34, 34, 34, .1);
}

.product-inner .choose-option input:checked+label {
    border: 1px solid #222;
    box-shadow: inset 0 0 0 1px #000;
}

.product-inner .choose-option input:disabled+label {
    border: 1px dashed #b1b1b1;
    color: #b1b1b1;
    cursor: not-allowed;
}

.product-inner .choose-option input:disabled+label:hover {
    background-color: #fff;
    box-shadow: none;
}

.product-inner .choose-option .colors label {
    padding: 0;
    width: 29px;
    height: 29px;
    min-width: 29px;
    border-radius: 5px;
    opacity: 0.7;
}

.product-inner .choose-option .colors input:checked+label {
    opacity: 1;
}

.product-inner .choose-option .colors label:hover {
    opacity: 0.8;
}

.product-inner .choose-option .color-item {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    left: 1px;
    top: 1px;
}

.product-inner .product-price {
    background: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 15px;
}

.product-inner .product-price .col-6 {
    padding: 15px;
}

.product-inner .product-price .col-6:first-child {
    border-right: 1px solid #e5e5e5;
}

.product-inner .product-price .price {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-top: 30px;
}

.product-inner .product-info button {
    width: 100%;
    margin: 0 0 8px;
}

.product-inner .product-info .latest {
    margin-bottom: 15px;
}

.product-inner .product-info .latest .mdi {
    font-size: 22px;
    color: #f2c994;
}

.product-inner .price-info {
    font-size: 12px;
    line-height: 20px;
}

.product-inner .product-specs {
    background: #f8f8f8;
    padding: 24px 0;
    margin: 60px 0;
    box-shadow: 30vw 0px 0px 0px #F8F8F8, -30vw 0px 0px 0px #F8F8F8;
}

.product-inner .product-specs h5 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 4px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.product-inner .product-specs p {
    margin: 0 0 10px;
}

.product-inner .product-specs a {
    margin: 0 0 10px;
}

.product-inner .product-carousel h2 {
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 8px;
    padding: 0;
    border: none;
}

.product-inner .product-carousel .big-text {
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto 8px;
    max-width: 780px;
}

.product-inner .product-carousel .owl-carousel {
    margin: 0 0 8px;
    padding: 20px 0;
}

.product-inner .product-carousel .owl-item {
    border: 1px solid #e5e5e5;
}

.product-inner .product-carousel .owl-next {
    position: absolute;
    top: calc(50% - 65px);
    right: 0;
    background: #fff !important;
    width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 45px !important;
    color: #888 !important;
    padding: 0;
}

.product-inner .product-carousel .owl-prev {
    position: absolute;
    top: calc(50% - 65px);
    left: 0;
    background: #fff !important;
    width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 45px !important;
    color: #888 !important;
    padding: 0;
}

.product-inner .product-carousel .owl-prev:hover,
.product-inner .product-carousel .owl-next:hover {
    color: #222 !important;
}

.product-inner .product-carousel .owl-prev span,
.product-inner .product-carousel .owl-next span {
    position: relative;
    top: -2px;
}

.product-inner .product-carousel .owl-dots button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #555;
    margin: 30px 5px 20px;
}

.product-inner .product-carousel .owl-dots button.active {
    background: #555;
}

.product-inner .product-tabs {
    margin: 48px 0 64px;
}

.product-inner .product-tabs button {
    font-size: 15px;
    border-radius: 0;
    color: #777;
    font-weight: 700;
    border-top-width: 3px;
    background: #f8f8f8;
    border-color: #f8f8f8 #f8f8f8 #e5e5e5;
    border-radius: 0;
}

.product-inner .product-tabs button:hover,
.product-inner .product-tabs button.active {
    color: #222;
    background: #fff;
    border-color: #f0473d #dee2e6 #fff;
}

.product-inner .product-tabs .tab-content {
    padding: 15px;
}

.product-inner .mobile-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    z-index: 999;
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
    background: hsla(0, 0%, 100%, .95);
}

.product-inner .mobile-footer .price {
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
}



@media (min-width: 992px) {
    #sidebarMenu {
        display: block;
    }

    .main-content {
        max-width: 1100px;
        margin: 0 auto;
    }
}

@media (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }

    .navbar .col-4 {
        padding: 0;
    }

    .sidebar-mini .content-side,
    .content-side {
        padding: 0;
    }

    .main-content {
        min-height: auto;
    }

    .mobile-logo img {
        display: block;
        max-height: 22px;
        margin: 8px auto;
    }

    .sidebar-toggler {
        display: none;
    }

    .search-bar {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .main-wrapper {
        padding-top: 50px;
    }
}

@media (max-width: 767px) {
    .footer-content .nav {
        display: block;
        margin-bottom: 60px;
    }

    .footer-content .nav a {
        padding-left: 0;
    }

    .orders-table .filters input[type=text] {
        width: calc(100% - 55px);
        float: left;
        margin-right: 15px;
    }

    .orders-table .filters .btn {
        min-width: 38px;
        width: 38px;
        height: 38px;
        padding: 0;
        background-color: #fff;
    }

    .orders-table .filters .col-12 {
        margin-bottom: 15px;
    }
}