@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

strong {
    font-weight: 700;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    height: 40px;
    line-height: 38px;
    min-width: 88px;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    box-sizing: border-box;
}

.btn:hover:not(.disabled):not([disabled]) {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.btn-primary {
    border-color: #e40f0a;
    background: #e40f0a;
    color: #fff;
}

.btn-primary:hover {
    border-color: #6a0705;
    background: #e40f0a;
}

.sidebar-header,
.navbar {
    height: 64px;
    border-bottom: 1px solid #e5e5e5;
}

.navbar {
    display: block;
    padding: 0.75rem 2rem;
}

.navbar-brand img {
    height: 18px;
}

.navbar .icons .dropdown {
    display: inline-block;
}

.navbar .icons .dropdown > a.show .mdi {
    color: #222;
}

.navbar .icons .dropdown-menu {
    min-width: 172px;
    margin-top: 16px;
    border-radius: 0;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.navbar .icons .dropdown-menu a {
    padding: 8px 24px;
}

.navbar .icons .dropdown-notifications {
    min-width: 320px;
    padding: 30px 15px 15px;
}

.navbar .icons a {
    color: #555;
    text-decoration: none;
}

.navbar .icons a:hover {
    color: #222;
}

.navbar .mdi {
    font-size: 24px;
    color: #b1b1b1;
    position: relative;
    top: 4px;
    margin-left: 1.2vw;
}

.navbar a:hover .mdi {
    color: #555;
}

.navbar .form-control {
    border-radius: 4px;
    border-color: #777;
    background-color: #f8f8f8;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .08);
}

.navbar .form-control:hover {
    border-color: #555;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
}

.navbar .form-control:focus {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
}

.navbar .menu-button {
    position: relative;
    top: -10px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #555;
}

.navbar .menu-button .mdi {
    margin: 0;
}

.sidebar {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 230px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    box-shadow: 8px 0 10px -2px rgb(0 0 0 / 5%);
}

.sidebar-header {
    line-height: 64px;
}

.sidebar-header a {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #222;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar-header a span {
    border-left: 1px solid #e5e5e5;
    padding: 7px 0;
    padding-left: 10px;
    margin-left: 7px;
}

.sidebar-header .menu-button {
    position: relative;
    top: -5px;
    left: 20px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #555;
    line-height: 18px;
}

.sidebar-header .menu-button .mdi {
    color: #999;
    margin: 0;
    font-size: 24px;
}


.sidebar .main-menu {
    position: relative;
    padding-top: 8px;
    height: calc(100vh - 240px);
    overflow-y: scroll;
}

.sidebar .nav a {
    position: relative;
    color: #555;
    line-height: 24px;
    padding: 6px 24px;
}


.sidebar .nav a:hover {
    color: #222;
}

.sidebar .nav a .mdi {
    font-size: 24px;
    color: #b1b1b1;
    position: relative;
    top: 4px;
    margin-right: 7px;
}

.sidebar .nav a:hover .mdi {
    color: #555;
}

.sidebar .nav a.active {
    color: #222;
    font-weight: 700;
}

.sidebar .nav a.active .mdi {
    color: #ed4642;
}

.sidebar .nav .nav-toggle > a:after {
    position: absolute;
    right: 18px;
    top: 6px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /%3E%3C/svg%3E");
    display: block;
    width: 18px;
    opacity: 0.4;
    transform: rotate(180deg);
}

.sidebar .nav .nav-toggle > a.collapsed:after {
    top: 12px;
    transform: rotate(0deg);
}

.sidebar .nav .nav-toggle > a:hover:after {
    opacity: 0.8;
}

.sidebar .nav .submenu {
    list-style: none;
}

.sidebar .nav .submenu a {
    border-left: 3px solid transparent;
    padding: 0 24px;
    margin: 7px 3px;
}

.sidebar .nav .submenu a:hover {
    border-left: 3px solid #e5e5e5;
}

.sidebar .nav .submenu a.active {
    border-left: 3px solid #ed4642;
}

.sidebar .sidebar-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 145px;
    border-top: 1px solid #e5e5e5;
}




.content-side {
    padding: 0 0 0 230px;
    position: relative;
    z-index: 99;
}

.main-content {
    min-height: calc(100vh - 375px);
    padding: 2rem;
}

.main-content h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 30px;
}




footer {
    border-top: 1px solid #e5e5e5;
}

.footer-content {
    padding: 3rem 2rem;
}

.footer-content img {
    max-height: 16px;
    margin-bottom: 15px;
}

.footer-content p {
    margin-bottom: 0;
}

.footer-content .socials {
    margin-top: 15px;
}

.footer-content .socials a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.footer-content .socials a svg {
    fill: #888;
    width: 20px;
    height: 20px;
}

.footer-content .socials a:hover {
    background: #888;
    border-color: #888;
}

.footer-content .socials a:hover svg {
    fill: #fff;
}

.footer-content .nav a {
    display: block;
    padding-left: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #555;
}

.footer-content .nav a:hover {
    color: #222;
}

.copyright {
    background-color: #f8f8f8;
    font-size: 12px;
    padding: 1.5rem 3rem;
}


.sidebar-toggler {
    position: absolute;
    right: -15px;
    top: 100px;
}

.sidebar-toggler button {
    position: absolute;
    top: -16px;
    right: 0;
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: #999;
    z-index: 101;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    transform: rotate(180deg);
}

.sidebar-mini .sidebar-toggler button {
    transform: rotate(0);
}

.sidebar-mini .navbar-brand span {
    display: none;
}

.sidebar-mini .sidebar {
    width: 75px;
}

.sidebar-mini .sidebar a {
    font-size: 0;
    height: 45px;
}

.sidebar-mini .sidebar .nav .nav-toggle > a:after {
    transform: rotate(90deg);
    top: 8px;
}

.sidebar-mini .sidebar .nav .nav-toggle > a.collapsed:after {
    right: 4px;
    top: 7px;
    transform: rotate(270deg);
}

.sidebar-mini .sidebar .nav > li {
    position: relative;
}

.sidebar-mini .sidebar .nav > li:hover .submenu {
    display: block;
}

.sidebar-mini .sidebar .nav .submenu {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: absolute;
    right: -195px;
    top: 0;
    width: 200px;
    height: auto;
    padding-left: 5px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.sidebar-mini .sidebar .main-menu {
    overflow: inherit;
}

.sidebar-mini .sidebar .nav .submenu a {
    font-size: 14px;
    height: auto;
}

.sidebar-mini .content-side {
    padding-left: 75px;
}



@media (min-width: 992px) {
    #sidebarMenu {
        display: block;
    }
}

@media (max-width: 991px) {
    html, body {
        overflow-x: hidden;
    }

    .navbar .col-4 {
        padding: 0;
    }

    .content-side {
        padding: 0;
    }

    .main-content {
        min-height: auto;
    }

    .mobile-logo img {
        display: block;
        max-height: 22px;
        margin: 8px auto;
    }

    .sidebar-toggler {
        display: none;
    }

    .search-bar {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .main-wrapper {
        padding-top: 50px;
    }
}

@media (max-width: 767px) {
    .footer-content .nav {
        display: block;
        margin-bottom: 60px;
    }

    .footer-content .nav a {
        padding-left: 0;
    }
}