@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

strong {
    font-weight: 700;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    height: 40px;
    line-height: 38px;
    min-width: 88px;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    box-sizing: border-box;
}

.btn:hover:not(.disabled):not([disabled]) {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.btn-primary {
    border-color: #e40f0a;
    background: #e40f0a;
    color: #fff;
}

.btn-primary:hover {
    border-color: #6a0705;
    background: #e40f0a;
}

.sidebar-header,
.navbar {
    height: 64px;
    border-bottom: 1px solid #e5e5e5;
}

.navbar {
    display: block;
    padding: 0.75rem 2rem;
}

.navbar-brand img {
    max-height: 18px;
}

.navbar .icons a {
    color: #555;
    text-decoration: none;
}

.navbar .icons a:hover {
    color: #222;
}

.navbar .mdi {
    font-size: 24px;
    color: #b1b1b1;
    position: relative;
    top: 4px;
    margin-left: 15px;
}

.navbar a:hover .mdi {
    color: #555;
}

.navbar .form-control {
    border-radius: 4px;
    border-color: #777;
    background-color: #f8f8f8;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .08);
}

.navbar .form-control:hover {
    border-color: #555;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
}

.navbar .form-control:focus {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
}

.sidebar {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 230px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    box-shadow: 8px 0 10px -2px rgb(0 0 0 / 5%);
}

.sidebar-header {
    line-height: 64px;
}

.sidebar-header a {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #222;
}

.sidebar-header a span {
    border-left: 1px solid #e5e5e5;
    padding: 7px 0;
    padding-left: 10px;
    margin-left: 10px;
}


.sidebar .main-menu {
    position: relative;
    padding-top: 8px;
    height: calc(100vh - 240px);
    overflow-y: scroll;
}

.sidebar .nav a {
    color: #555;
    line-height: 24px;
    padding: 6px 24px;
}


.sidebar .nav a:hover {
    color: #222;
}

.sidebar .nav a .mdi {
    font-size: 24px;
    color: #b1b1b1;
    position: relative;
    top: 4px;
    margin-right: 7px;
}

.sidebar .nav a:hover .mdi {
    color: #555;
}

.sidebar .nav a.active {
    color: #222;
    font-weight: 700;
}

.sidebar .nav a.active .mdi {
    color: #ed4642;
}

.sidebar .nav .submenu {
    list-style: none;
}

.sidebar .nav .submenu a {
    border-left: 3px solid transparent;
    padding: 0 24px;
    margin: 7px 3px;
}

.sidebar .nav .submenu a:hover {
    border-left: 3px solid #e5e5e5;
}

.sidebar .nav .submenu a.active {
    border-left: 3px solid #ed4642;
}

.sidebar .sidebar-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 145px;
    border-top: 1px solid #e5e5e5;
}




.content-side {
    padding: 0 0 0 230px;
}

.main-content {
    min-height: calc(100vh - 370px);
    padding: 2rem;
}

.main-content h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 30px;
}




footer {
    border-top: 1px solid #e5e5e5;
}

.footer-content {
    padding: 3rem;
}

.footer-content img {
    max-height: 16px;
    margin-bottom: 15px;
}

.footer-content p {
    margin-bottom: 0;
}

.footer-content .socials {
    margin-top: 15px;
}

.footer-content .socials a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.footer-content .socials a svg {
    fill: #888;
    width: 20px;
    height: 20px;
}

.footer-content .socials a:hover {
    background: #888;
    border-color: #888;
}

.footer-content .socials a:hover svg {
    fill: #fff;
}

.footer-content .nav a {
    display: block;
    padding-right: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #555;
}

.footer-content .nav a:hover {
    color: #222;
}

.copyright {
    background-color: #f8f8f8;
    font-size: 12px;
    padding: 1.5rem 3rem;
}

@media (max-width: 991px) {
    html, body {
        overflow-x: hidden;
    }

    .sidebar {
        left: -230px;
    }

    .content-side {
        padding: 0;
    }

    .main-content {
        min-height: auto;
    }

    .mobile-logo img {
        display: block;
        max-height: 22px;
        margin: 8px auto;
    }
}